

body {
	margin:0;
	font-family: 'Slabo 27px', serif;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li.icon {display: none;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 6vh 8vh;
  text-decoration: none;
  transition: 0.3s;
  font-size: 24px;
}

ul.topnav li a:hover {background-color: #555;}

.box {
    width: 70%;
    background-color: #333;
	padding: 25px 25px;
    position: relative;
	font-size: 17px;
	color: #f2f2f2;
    top: 30px;
    left: 15%;
}

@media screen and (max-width:1100px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:1100px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.recipe_list {
	/* padding: 5px 10px; */
}

.recipe_detail {
	padding: 10px 10px;
	overflow: auto;
	
}

.recipe_name {
	font-size: 20px;
}

.list_image {
	float: left;
	margin: 5px;
}

#view_recipe_desc {
	overflow: auto;
}

#view_recipe_image {
	float: left;
	margin: 5px 25px 10px 0;
}

.comment_box {
	padding: 10px 10px;
	background: #bdbdbd;
	color: black;
	margin: 0 auto;
	width: 80%;
}

.comment_user {
	color: #424242;
	font-size: 15px;
	margin: 0;
}

.comment_text {
	color: black;
	margin: 0;
	
}