a {
	color: #f2f2f2;
}

body {
	margin:0;
	font-family: 'Slabo 27px', serif;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li.icon {display: none;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 6vh 8vh;
  text-decoration: none;
  transition: 0.3s;
  font-size: 24px;
}

ul.topnav li a:hover {background-color: #555;}

.box {
    width: 70%;
    background-color: #333;
	padding: 25px 25px;
    position: relative;
	font-size: 17px;
	color: #f2f2f2;
    top: 30px;
    left: 15%;
	overflow: auto;
}

@media screen and (max-width:1100px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:1100px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/* VIEWING RECIPE LISTS--------------------------- */

.recipe_list {
	
}

.recipe_detail {
	padding: 10px 10px;
	margin: 5px;
	overflow: auto;
	position: relative;
	background-color: #4a4a4a;
	border-style: solid;
	border-width: 1px;
	border-color: #f2f2f2;
	
}

.recipe_name {
	font-size: 20px;
	margin: 0 5px 5px 0;
}

.list_image {
	float: left;
	margin: 5px 15px 5px 5px;
	border: 1px solid;
}

.recipe_rating {
	
}

.recipe_desc {
	
}

.recipe_info {
	
}

.dietary_info {
	
}

.dietary_image {
	float: right;
	margin: 5px;
	position: relative;
	right: 5px;
}

/* VIEW RECIPE ------------------------ */

#view_recipe_desc {
	overflow: auto;
	/* border-style: solid none none none; */
	/* border-color: #4a4a4a; */
	/* border-width: 1px; */
}

#view_recipe_image {
	float: left;
	margin: 5px 25px 10px 0;
	border: 1px solid #f2f2f2;
}

#instructions_section {
	border-style: solid none none none;
	border-color: #4a4a4a;
	border-width: 1px;
}

#comment_section {
	border-style: solid none none none;
	border-color: #4a4a4a;
	border-width: 1px;
}

.comment_box {
	padding: 10px 10px;
	background: #4a4a4a;  /*bdbdbd*/
	/* color: black; */
	border: 1px solid #f2f2f2;
	margin: 2px auto;
	width: 80%;
}

.comment_user {
	/* color: #424242; */
	font-size: 15px;
	margin: 0;
}

.comment_text {
	/* color: black; */
	margin: 0;
	
}

/* VIEWING CATEGORY LISTS--------------------------- */

.category_list {
	
}

.category_name {
	text-align: center;
	font-size: 20px;
	margin: 0 5px 5px 0;
}

.category_detail {
	display: inline-block;
	padding: 10px 10px;
	margin: 5px;
	overflow: auto;
	position: relative;
	background-color: #4a4a4a;
	border-style: solid;
	border-width: 1px;
	border-color: #f2f2f2;
}
