<!DOCTYPE html>
{% load staticfiles %}
<div class="recipe_detail">
	
	<div class="recipe_name">
		<a href="{% url 'cookbook:view_recipe' recipe.user.username recipe.slug %}">
		<img class="list_image" src="{{ MEDIA_URL }}{{ recipe.picture }}" height="125" width="125">
		<big>{{ recipe.name }}</big></a>
		<small></br>by <a class="user_link" href="{% url 'cookbook:view_user' recipe.user.username %}">{{ recipe.user.username }}</a></small>
	</div>
	
	<div class="recipe_date">
		uploaded: {{ recipe.upload_date }}</br>
		{% if recipe.last_modified %}
			last modified: {{ recipe.last_modified }}
		{% endif %}
		</div>
		
		<div class="recipe_desc">
			</br><i>"{{ recipe.description }}"</i>
		</div>
	
	<div class="recipe_info">
		
		{{ recipe.category }} 
		| Serves: {{ recipe.serves }} 
		| Cooking time: {{ recipe.cooking_time }} minutes 
		
		<div class="recipe_rating">
		| <span class="stars">{{ recipe.total_rating }}</span> ({{ recipe.no_of_ratings }})
		</div>
		
		{% if recipe.spice > 0 %}
		<div class="recipe_spicy">
		|
		{% with ''|center:recipe.spice as range %}
		{% for _ in range %}
			<img class="spicy" src="{% static 'cookbook/images/spicy.png' %}" height="14" width="15">			
		{% endfor %}
		{% endwith %}
		</div>
		{% endif %}

	</div>
	
	<div class="dietary_info">
		{% if recipe.is_gluten_free %}
		<img class="dietary_image" src="{% static 'cookbook/images/gluten-free.png' %}" height="30" width="30">
		{% endif %}
		{% if recipe.is_vegan %}
		<img class="dietary_image" src="{% static 'cookbook/images/vegan.png' %}" height="30" width="30">
		{% else %}
			{% if recipe.is_vegetarian %}
			<img class="dietary_image" src="{% static 'cookbook/images/vegetarian.png' %}" height="30" width="30">
			{% endif %}
			{% if recipe.is_dairy_free %}
			<img class="dietary_image" src="{% static 'cookbook/images/dairy-free.png' %}" height="30" width="30">
			{% endif %}
		{% endif %}
	</div>

</div>