{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Categories
{% endblock %}
{% block body_block %}
	<div class="category_list">
	<h2>Categories</h2>
	{% if categories %}
		{% for category in categories %}
		<div class="category_detail">
			<div class="category_name">
			<a href="{% url 'cookbook:view_category' category.name %}">
			<big>{{ category.name }}</big></br>
			<img class="list_image"src="{{ MEDIA_URL }}{{ category.picture }}" height="200" width="200"></a>
			</div>
		</div>
		{% endfor %}
	{% else %}
		There are no categories!
	{% endif %}
	</div>

{% endblock %}