<!DOCTYPE html>
{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Change Password
{% endblock %}
{% block body_block %}
<h2>Change your password</h2>
	{% if changed %}
		Your password has been changed successfully! <a href="{% url 'cookbook:user_login' %}">here</a>.
	{% else %}
		<div id="change_password">
			<form id="form" method="post" action="{% url 'cookbook:change_password' %}" enctype="multipart/form-data">
				{% csrf_token %}
				<p>{{ form.old.errors }}</p>
				<p><label class="form_label">Current password: </label>{{ form.old }}</p>
				<p>{{ form.new.errors }}</p>
				<p><label class="form_label">New password: </label>{{ form.new }}</p>
				<p>{{ form.check.errors }}</p>
				<p><label class="form_label">Re-enter new password: </label>{{ form.check }}</p>
				<!-- Provide a button to click to submit the form. -->
				<div class="button_wrapper">
					<input id="register_button" type="submit" name="submit" value="Change Password"/>
				</div>
			</form>
		</div>
	{% endif %}
{% endblock %}