{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Commenting rules
{% endblock %}
{% block body_block %}
	<h2>Commenting rules on CookBook</h2>
<p style="font-size:20px">The general rule for commenting is: be nice.
Remember that if you break the rules, your comments may be deleted, and your account deleted as well if we judge it necessary.
Here are the guidelines for commenting. <p> 
<ul>
<li>Do not post racist, sexist, homophobic, or otherwise bigoted comments.</li>
<li>Do not post threats or encourage self-harm.</li>
<li>Do not post or link to anything pornographic, or illegal (including illegal file sharing).</li>
<li>Do not spam: no excessive posting, repeated self-promotion, or paid referral links.</li>
<li>Do not insult other users.</li>
<li>If you want to criticise a recipe or suggest changes, be constructive: explain why you think that the recipe is imperfect and give your suggestions.</li>
</ul>
{% endblock %}