<!DOCTYPE html>
{% extends 'cookbook/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- Conversion Charts
{% endblock %}

{% block body_block %}
	<h1> Conversion Charts </h1>
	
	<!--
	These are  some nasty looking tables D:
	Could add more (ml, spoons, cups, etc)
	//-->
	<table>
	<tr>
	<th>grams</th>
	<th>pounds/onces</th>
	</tr>
	
	<tr>
	<td>10 g</td>
	<td>0.25 oz</td>
	</tr>
	
	<tr>
	<td>25 g</td>
	<td>1 oz</td>
	</tr>
	
	<tr>
	<td>50 g</td>
	<td>1.75 oz</td>
	</tr>
	
	<tr>
	<td>75 g</td>
	<td>2.75 oz</td>
	</tr>
	
	<tr>
	<td>100 g</td>
	<td>3.5 oz</td>
	</tr>
	
	<tr>
	<td>150 g</td>
	<td>5.5 oz</td>
	</tr>
	
	<tr>
	<td>200 g</td>
	<td>7 oz</td>
	</tr>
	
	<tr>
	<td>250 g</td>
	<td>9 oz</td>
	</tr>
	
	<tr>
	<td>300 g</td>
	<td>10.5 oz</td>
	</tr>
	
	<tr>
	<td>350 g</td>
	<td>10.5 oz</td>
	</tr>
	
	<tr>
	<td>400 g</td>
	<td>14 oz</td>
	</tr>
	
	<tr>
	<td>500 g</td>
	<td>1 lb 2 oz</td>
	</tr>
	
	<tr>
	<td>750 g</td>
	<td>1 lb 10 oz</td>
	</tr>
	
	<tr>
	<td>1 kg</td>
	<td>2.25 lb</td>
	</tr>
	
	<tr>
	<td>2 kg</td>
	<td>4.5 lb</td>
	</tr>
	</table>
	
	<table>
	<tr>
	<th>celcius</th>
	<th>farenheit</th>
	<tr>
	
	<tr>
	<td>110 &deg;c</td>
	<td>225 &deg;f</td>
	</tr>
	
	<tr>
	<td>130 &deg;c</td>
	<td>250 &deg;f</td>
	</tr>
	
	<tr>
	<td>140 &deg;c</td>
	<td>275 &deg;f</td>
	</tr>
	
	<tr>
	<td>150 &deg;c</td>
	<td>300 &deg;f</td>
	</tr>
	
	<tr>
	<td>170 &deg;c</td>
	<td>325 &deg;f</td>
	</tr>
	
	<tr>
	<td>180 &deg;c</td>
	<td>350 &deg;f</td>
	</tr>
	
	<tr>
	<td>190 &deg;c</td>
	<td>375 &deg;f</td>
	</tr>
	
	<tr>
	<td>200 &deg;c</td>
	<td>400 &deg;f</td>
	</tr>
	
	<tr>
	<td>220 &deg;c</td>
	<td>425 &deg;f</td>
	</tr>
	
	<tr>
	<td>230 &deg;c</td>
	<td>450 &deg;f</td>
	</tr>
	</table>
{% endblock %}