<!DOCTYPE html>
{% extends 'cookbook/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- Conversion Charts
{% endblock %}

{% block body_block %}
	<h1> Conversion Charts </h1>
	
	<!--
	These are  some nasty looking tables D:
	Could add more (spoons, cups, etc)
	//-->
	Weights
	<table>
	<tr>
	<td>1 oz</td>
	<td>10g</td>
	</tr>
	
	<tr>
	<td>1</td>
	<td>25</td>
	</tr>
	
	<tr>
	<td>1 1/2</td>
	<td>40</td>
	</tr>
	
	<tr>
	<td>2</td>
	<td>50</td>
	</tr>
	
	<tr>
	<td>3</td>
	<td>75</td>
	</tr>
	
	<tr>
	<td>4</td>
	<td>110</td>
	</tr>
	
	<tr>
	<td>5</td>
	<td>150</td>
	</tr>
	
	<tr>
	<td>6</td>
	<td>175</td>
	</tr>
	
	<tr>
	<td>7</td>
	<td>200</td>
	</tr>
	
	<tr>
	<td>8</td>
	<td>225</td>
	</tr>
	
	<tr>
	<td>9</td>
	<td>250</td>
	</tr>
	
	<tr>
	<td>10</td>
	<td>275</td>
	</tr>
	
	<tr>
	<td>12</td>
	<td>350</td>
	</tr>
	
	<tr>
	<td>13</td>
	<td>375</td>
	</tr>
	
	<tr>
	<td>14</td>
	<td>400</td>
	</tr>
	
	<tr>
	<td>15</td>
	<td>425</td>
	</tr>
	
	<tr>
	<td>1 lb</td>
	<td>450</td>
	</tr>
	
	<tr>
	<td>1 1/4</td>
	<td>550</td>
	</tr>
	
	<tr>
	<td>1 1/2</td>
	<td>700</td>
	</tr>
	
	<tr>
	<td>2</td>
	<td>900</td>
	</tr>
	
	<tr>
	<td>3</td>
	<td>1.4 kg</td>
	</tr>
	
	<tr>
	<td>4</td>
	<td>1.8</td>
	</tr>
	
	<tr>
	<td>5</td>
	<td>2.3</td>
	</tr>
	</table>
	
	<!-- fl oz to ml -->
	Volume
	<table>
	</table>
	
	<!-- inch to cm -->
	Measurements
	<table>
	</table>
	
	Oven Temperatures
	<table>
	<tr>
	<td>Mark 1</td>
	<td>275 &deg;F</td>
	<td>140 &deg;C</td>
	</tr>
	
	<tr>
	<td>2</td>
	<td>300</td>
	<td>150</td>
	</tr>
	
	<tr>
	<td>3</td>
	<td>325</td>
	<td>170</td>
	</tr>
	
	<tr>
	<td>4</td>
	<td>350</td>
	<td>180</td>
	</tr>
	
	<tr>
	<td>5</td>
	<td>375</td>
	<td>190</td>
	</tr>
	
	<tr>
	<td>6</td>
	<td>400</td>
	<td>200</td>
	</tr>
	
	<tr>
	<td>7</td>
	<td>425</td>
	<td>220</td>
	</tr>
	
	<tr>
	<td>8</td>
	<td>450</td>
	<td>230</td>
	</tr>
	
	<tr>
	<td>9</td>
	<td>475</td>
	<td>240</td>
	</tr>
	</table>
{% endblock %}