{% extends 'cookbook/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% if recipe %}
- edit {{ recipe.name }}
{% else %}
- Oops
{% endif %}
{% endblock %}

{% block body_block %}
	{% if recipe %}
		<h1>Edit {{ recipe.name }}</h1>
		<div id="recipe_form_holder">
			<form enctype="multipart/form-data" id="recipe_form" method="post" action="{% url 'cookbook:editrecipe' recipe.user recipe.slug %}">
				{% csrf_token %}
				{{ form.errors }}
				{{ recipe_form.as_p }}
				<div class="button_wrapper">
					<input type="submit" value="Save changes" />
					<input type="button" id="discard_changes" value="Cancel" />
				</div>
			</form>
		</div>
	{% else %}
		<h2>Oops!</h2>
		<p>Oh no it appears that recipe doesn't exist or is not your recipe. If this is your recipe make sure you are logged in before editing!</p>
	{% endif %}
{% endblock %}