{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Help
{% endblock %}
{% block body_block %}
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  This is the help page.</br>
  
{% endblock %}