<!DOCTYPE html>
{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Home
{% endblock %}
{% block body_block %}
	<div class="recipe_list">
	<h2>Best Rated</h2>
	{% if best_rated %}
		{% for recipe in best_rated %}
			<div class="recipe_detail">
			<a href="{% url 'cookbook:view_recipe' recipe.user.username recipe.slug %}">
			<img class="list_image" src="{{ MEDIA_URL }}{{ recipe.picture }}" height="200" width="200">
			<p class="recipe_name"> {{ recipe.name }}</p></a>
			by <a href="{% url 'cookbook:view_user' recipe.user.username %}">{{ recipe.user.username }}</a>
			{{ recipe.total_rating }}
			{{ recipe.description }}
			</div>
		{% endfor %}
	{% else %}
		The best rated recipes will appear here!
	{% endif %}
	</div>
	
	<div class="recipe_list">
	<h2>New Recipes</h2>
	{% if new_recipes %}
		{% for recipe in new_recipes %}
			<div class="recipe_detail">
			<a href="{% url 'cookbook:view_recipe' recipe.user.username recipe.slug %}">
			<img class="list_image" src="{{ MEDIA_URL }}{{ recipe.picture }}" height="200" width="200">
			<p class="recipe_name"> {{ recipe.name }}</p></a>
			by <a href="{% url 'cookbook:view_user' recipe.user.username %}">{{ recipe.user.username }}</a>
			{{ recipe.total_rating }}
			{{ recipe.description }}
			</div>
		{% endfor %}
	{% else %}
		The newest recipes will appear here!
	{% endif %}
	</div>
	
{% endblock %}