<!DOCTYPE html>
{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Home
{% endblock %}
{% block body_block %}
	<div class="recipe_list">
	<h1><a class="no_u" href="{% url 'cookbook:best-rated' %}">Best Rated</a></h1>
	{% if best_rated %}
		{% for recipe in best_rated %}
			{% include 'cookbook/include/recipe_detail.html' %}
		{% endfor %}
	{% else %}
		The best rated recipes will appear here!
	{% endif %}
	</div>
	
	<div class="recipe_list">
	<h1><a class="no_u" href="{% url 'cookbook:newest-recipes' %}">Newest Recipes</a></h1>
	{% if new_recipes %}
		{% for recipe in new_recipes %}
			{% include 'cookbook/include/recipe_detail.html' %}
		{% endfor %}
	{% else %}
		The newest recipes will appear here!
	{% endif %}
	</div>
	
{% endblock %}