{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- {{ user.username }}
{% endblock %}
{% block body_block %}
	<h1>My Profile - {{ user.username }}</h1>
	<a class="active" href="{% url 'cookbook:upload-recipe' %}">Add Recipe</a><br>
	<a class="active" href="{% url 'cookbook:saved-recipes' %}">Saved Recipes</a>
	<div id="recent_comments">
	<h2>Recent comments</h2>
	{% if recent_comments %}
		{% for comment in recent_comments %}
				<div class="comment_box">
				<p class="comment_user">
				<a href="{% url 'cookbook:view_user' comment.user.username %}">{{ comment.user }}</a>
				on {{ comment.upload_date }} about
				<a href="{% url 'cookbook:view_recipe' comment.recipe.user comment.recipe.slug %}">{{ comment.recipe.name }}</a>
				</p>
				<p class="comment_text">
				{{ comment.text }}
				</p>
				</div>
		{% endfor %}
	{% else %}
		No comments yet!
	{% endif %}
	</div>
	
	<div class="recipe_list" id="my_recipe_list">
	<h2>My Recipes</h2>
	{% if recipes %}
		<div class="recipe_list">
		{% for recipe in recipes %}
			<div class="recipe_detail">
				
				<div class="recipe_name">
				<a href="{% url 'cookbook:view_recipe' recipe.user.username recipe.slug %}">
				<img class="list_image" src="{{ MEDIA_URL }}{{ recipe.picture }}" height="200" width="200">
				<big>{{ recipe.name }}</big>
				</a>
				</div>
				
				<div class="recipe_rating">
				{{ recipe.total_rating }}
				</div>
				
				<div class="recipe_desc">
				<i>"{{ recipe.description }}"</i>
				</div>
				
				<div class="recipe_info">
				Serves: {{ recipe.serves }} - Cooking time: {{ recipe.cooking_time }} minutes
				</div>
				
				<div class="dietary_info">
				{% if recipe.is_gluten_free %}
				<img class="dietary_image" src="{% static 'cookbook/images/gluten-free.png' %}" height="60" width="55">
				{% endif %}
				{% if recipe.is_vegan %}
				<img class="dietary_image" src="{% static 'cookbook/images/vegan.png' %}" height="48" width="60">
				{% else %}
					{% if recipe.is_vegetarian %}
					<img class="dietary_image" src="{% static 'cookbook/images/vegetarian.png' %}" height="55" width="55">
					{% endif %}
					{% if recipe.is_dairy_free %}
					<img class="dietary_image" src="{% static 'cookbook/images/dairy-free.png' %}" height="50" width="56">
					{% endif %}
				{% endif %}
				</div>
			
			</div>
		{% endfor %}
		</div>
	{% else %}
	
	{% endif %}
	</div>


{% endblock %}