<!DOCTYPE html>
{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Recipe writing guide
{% endblock %}
{% block body_block %}
	<h2>How to write a recipe</h2>
These guidelines were taken from 
<a href="http://www.foodnetwork.co.uk/article/5-steps-writing-great-recipe.html">http://www.foodnetwork.co.uk/article/5-steps-writing-great-recipe.html</a></br>
Here are five easy steps, including the dos and don’ts of writing a top notch recipe.

<h2>1. Make notes as you cook</h2>

Keep a piece of paper and a pen handy when you’re cooking. You’ll need it to write down measurements, temperatures and timings. This is also the perfect time to document any tips and tricks you discover and would like to share.

Do: Regardless of whether you use cups, grams or any other unit of measurement, always measure and record your ingredients accurately and consistently.

Do: Make a note of oven temperatures and use a timer where possible.

Don't: Forget to jot down any revisions to a recipe. For example, if you’re baking a cake and find you need to add more chocolate to the icing than you originally thought, make sure the extra amount is added to the final recipe.

Don't: Miss out on the opportunity to include how many heads the recipe serves, cooking and preparation times.

<h2>2. Divide ingredients</h2>

Depending on what you’re cooking, it may be necessary to split the ingredients up into sections. For example, if you’re baking cupcakes, you’ll need to separate the batter ingredients from the icing ingredients. This will eliminate any confusion between repetitively used ingredients such as sugar or butter and also make the recipe easier to follow.

Do: Split the ingredients into as many sections as you need, even if there are lots of separate components to your masterpiece of a dish.

Do: Include any pre-preparation beside an ingredient such as, 1 large onion, chopped.

Don't: Put equipment in the ingredients list. If you want to include any special equipment, do so under a separate heading or in the notes at the end of the recipe.

Don't: Chop and change units of measurement. If you’ve decided to measure ingredients in grams and millilitres, stick to using those throughout.

<h2>3. Write in plain English and be specific</h2>

Adding too many clunky sentences to a method will make the recipe difficult to read and not particularly useful when the reader takes it into the kitchen to do some cooking. As you write, think about how you’d like to follow a recipe whilst you cook – it should be instructional and succinct. Remember you can always add cook’s notes and recipe variations after the method rather than to it.

Do: Read over what you’ve written and chop out any unnecessary words. Be your own critic.

Do: Expand on any parts of the recipe in which you could be more specific. For example, if you’re adding salt to the water when boiling pasta because that’s how you always do it, include that. The reader won’t know unless you tell them.

Don't: Overcomplicate processes. If you’re unsure how to phrase something, think about the first time you did it and how you would have liked to have been taught.

Don't: Create large blocks of text in your recipe. It’s up to you whether you number the steps but if you don’t, make sure they’re broken up into bite-sized chunks.

<h2>4. Include a photo</h2>

Photos give the reader an idea of how the finished dish should look. Presentation, garnishes and suggested side dishes can be included to enhance the visual appeal of the main dish without bulking the recipe up with text.

Do: Think about how you want to plate up before or whilst you’re cooking so that when you take your photo, the dish looks as fresh as possible. There’s nothing sadder than a bowl of droopy salad leaves that have been left out for too long.

Do: Sharpen up on your food photography skills with our 7 Steps to Sexy Food Photography.

Don't: Be afraid of taking lots of photos from different angles to see which comes out the best. You can always delete the ones you don’t like.

Don't: Forget to use props. Jazz up your photo with a napkin to enhance the vibrancy of a particular ingredient or some cutlery to make it look like you’re about to dig in.

<h2>5. Ask someone else to cook your recipe</h2>

One way to find out if your recipe works is to get someone else to cook it – they might pick up on something you had overlooked. You may know to always check the level of seasoning by tasting as you cook but not everyone will remember to do it. Ensure quick and important tips that may seem like common knowledge aren’t forgotten.

Do: Welcome feedback and adjust your recipe if you feel it will benefit the reader.

Do: Recommend a recipe can be doubled, halved or divided in any other way provided you have tested it.

Don't: Let it get you down if it didn’t work for them. Ask them why and then test the recipe again to make sure you haven’t missed anything.

Don't: Let them eat everything! You’re the creator and sharing is most definitely caring – especially if it’s cake.



<p style="font-size:20px">You can now write a recipe and post it on CookBook!</p>
{% endblock %}