{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Search
{% endblock %}
{% block body_block %}
	<h2 id="seacrh_header">Search</h2>
	
	<input class="filter" type="checkbox" value="Vegetarian">Vegetarian
	<input class="filter" type="checkbox" value="Vegan">Vegan
	<input class="filter" type="checkbox" value="Gluten-free">Gluten-free
	<input class="filter" type="checkbox" value="Dairy-free">Dairy-free
	{% if recipes %}
		{% for recipe in recipes %}
			{% include 'cookbook/include/recipe_detail.html' %}
		{% endfor %}
	{% else %}
	<p style="text-align:center">
	<img src="{% static 'cookbook/images/sad.png' %}" height="100" width="100"></br>
	Either because your search entry was too short or because no recipes matched it, your search returned no results.
	</p>
	{% endif %}
{% endblock %}