<!DOCTYPE html>
{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Search
{% endblock %}
{% block body_block %}
	<div id="title_bar">
		<h2 id="filter_header">Search</h2>
		{% include 'cookbook/include/filter_results.html' %}
	</div>
	{% if recipes %}
		{% for recipe in recipes %}
			{% include 'cookbook/include/recipe_detail.html' %}
		{% endfor %}
		<p id="no_results">
			Oh dear, it seems there's no recipes here!
		</p>
	{% else %}
		<p style="text-align:center">
			<img src="{% static 'cookbook/images/sad.png' %}" height="100" width="100"></br>
			Either because your search entry was too short or because no recipes matched it, your search returned no results.
		</p>
	{% endif %}
{% endblock %}