{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Sign Up
{% endblock %}
{% block body_block %}
<h1>Register to CookBook</h1>
<br />
{% if registered %}
Thank you for registering! Click <a href="{% url 'cookbook:user_login' %}">here</a> to sign in.
{% else %}
<strong>Register here!</strong><br />
<form id="user_form" method="post" action="{% url 'cookbook:signup' %}" enctype="multipart/form-data">
	{% csrf_token %}
	<!-- Display each form -->
	{{ user_form.as_p }}
	<!-- Provide a button to click to submit the form. -->
	<input type="submit" name="submit" value="Register" />
</form>
{% endif %}
{% endblock %}