{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Upload a Recipe
{% endblock %}

{% block body_block %}
	<h1>Upload a New Recipe</h1>
	<form id="recipe_form" method="post" action="{% url 'cookbook:upload-recipe' %}">
			{% csrf_token %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                    <br>
                {% endfor %}
		<input type="submit" name="submit" value="Upload Recipe" />
	</form>
{% endblock %}