{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Upload a Recipe
{% endblock %}

{% block body_block %}
	
	<h1>Upload a New Recipe</h1>
	<div id="upload_recipe">
		<form id="upload_recipe_holder" method="post" action="{% url 'cookbook:upload-recipe' %}">
			{% csrf_token %}
			{% if errors %}
				<ul>
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			<label class="form_label" >Recipe Name: </label>{{ upload_recipe_holder.name }}</br>
			<label class="form_label" >Image: </label>
			<div class="button_wrapper">
				<input type="submit" value="Upload" />
			</div>
		</form>
	</div>
	
{% endblock %}