{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Login
{% endblock %}
{% block body_block %}
  	<h1>Login to CookBook</h1>
	<form id="login_form" method="post" action="{% url 'cookbook:user_login' %}">
		{% csrf_token %}
		{% if errors %}
			<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		Username: <input type="text" name="username" value="" size="50" />
		<br /><br />
		Password:&nbsp; <input type="password" name="password" value="" size="50" />
		<br /><br />
		<input type="submit" value="Sign in" />
	</form>
{% endblock %}