<!DOCTYPE html>
{% extends 'cookbook/base.html' %}
{% load staticfiles %}
{% block title_block %}
- Login
{% endblock %}
{% block body_block %}
  	<h2>Login to CookBook</h2>
	<div id="login">
		<form id="login_form" method="post" action="{% url 'cookbook:user_login' %}">
			{% csrf_token %}
			{% if errors %}
				<ul>
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			<label class="form_label" >Username: </label><input type="text" name="username" value="" /></br>
			<label class="form_label" >Password: </label><input type="password" name="password" value="" />
			<div class="button_wrapper">
				<input type="submit" value="Sign in" />
			</div>
		</form>
	</div>
{% endblock %}