<!DOCTYPE html>
{% extends 'cookbook/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% if author %}
- {{ author }}
{% else %}
- Oops
{% endif %}
{% endblock %}

{% block body_block %}
	{% if author %}
		<h1>{{ author }}</h1>
		
		<div id="author_details">
		
		</div>
	
		<h2>{{ author }}'s Recipes</h2>
		
		<div class="recipe_list">
		{% for recipe in recipes %}
			{% include 'cookbook/include/recipe_detail.html' %}
		{% endfor %}
		</div>
	{% else %}
		This user does not exist!
	{% endif %}
{% endblock %}