<!DOCTYPE html>
{% extends 'cookbook/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% if author %}
- {{ author }}
{% else %}
- Oops
{% endif %}
{% endblock %}

{% block body_block %}
	{% if author %}
		<h1>{{ author }}</h1>
		
		<div id="author_details">
		
		</div>
	
		<h2>{{ author }}'s Recipes</h2>
		
		<div class="recipe_list">
		{% if recipes %}
			{% for recipe in recipes %}
				{% include 'cookbook/include/recipe_detail.html' %}
			{% endfor %}
		{% else %}
			This user has not uploaded any recipes.
		{% endif %}
		</div>
	{% else %}
		This user does not exist!
	{% endif %}
{% endblock %}